Package: mongodb-database-tools
Version: @TOOLS_VERSION@
Architecture: @ARCHITECTURE@
Maintainer: TODO <todo@mongodb.com>
Description: mongodb-database-tools package provides tools for working with the MongoDB server: 
 *bsondump - display BSON files in a human-readable format
 *mongoimport - Convert data from JSON, TSV or CSV and insert them into a collection
 *mongoexport - Write an existing collection to CSV or JSON format
 *mongodump/mongorestore - Dump MongoDB backups to disk in .BSON format, 
    or restore them to a live database
 *mongostat - Monitor live MongoDB servers, replica sets, or sharded clusters
 *mongofiles - Read, write, delete, or update files in GridFS 
    (see: http://docs.mongodb.org/manual/core/gridfs/)
 *mongotop - Monitor read/write activity on a mongo server
Homepage: http://mms.mongodb.com
Depends: libc6, libgssapi-krb5-2, libkrb5-3, libk5crypto3, libcom-err2, libkrb5support0, libkeyutils1
Provides: mongodb-database-tools
Conflicts: mongodb-database-tools, mongodb-org-tools
Replaces: mongodb-database-tools, mongodb-org-tools
Section: database
Priority: optional
