*.bson
*.deb
*.dump
*.exe
*.log
*.out
*.pcap
*.playback
*.pyc
*.rpm
*.swp
*.swp
*.tape
*.temp
*.zip

/deb_build
/purls.txt
/silkbomb.env
/release.*
/mongodb-database-tools-*

test/**/*.json

!**/testdata/**
/dev-bin

/mongorestore/testdata/txntest/oplog.bson

/temp*

bin/
testing_output/

vendor/pkg

.gopath
.godeps
.idea
.DS_store

tags
node_modules

.ignore
