*.bson
*.dump
*.exe
*.json
*.log
*.out
*.pcap
*.playback
*.pyc
*.swp
*.swp
*.tape
*.temp
*.zip

!**/testdata/**

/temp*

bin/
testing_output/

vendor/pkg

.gopath
.godeps
.idea
.DS_store

tags
node_modules
