*.bson
*.dump
*.exe
*.log
*.out
*.pcap
*.playback
*.pyc
*.swp
*.swp
*.tape
*.temp
*.zip

/purls.txt

test/**/*.json

!**/testdata/**

/mongorestore/testdata/txntest/oplog.bson

/temp*

bin/
testing_output/

vendor/pkg

.gopath
.godeps
.idea
.DS_store

tags
node_modules

.ignore
