<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2018-Present MongoDB Inc. -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="c_License" Guid="bc29be2b-637b-42ac-b60a-92fac066010c">
        <File Id="f_License"
              Name="LICENSE.rtf"
              Source="$(var.SourceDir)\LICENSE.rtf"
              DiskId ="1"/>
      </Component>
      <Component Id="c_Thirdparty" Guid="d176d2d7-d601-45ac-8f94-f60c3f3a2ecf">
        <File Id="f_Thirdparty"
              Name="THIRD-PARTY-NOTICES"
              Source="$(var.SourceDir)\THIRD-PARTY-NOTICES"
              DiskId ="1"/>
      </Component>
      <Component Id="c_Readme" Guid="b1773010-44e7-462a-b586-0fe5056fb087">
        <File Id="f_Readme"
              Name="README"
              Source="$(var.SourceDir)\README.md"
              DiskId ="1"/>
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="cg_License">
      <ComponentRef Id="c_Thirdparty"/>
      <ComponentRef Id="c_Readme"/>
      <ComponentRef Id="c_License"/>
    </ComponentGroup>

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ResourceDir)\LICENSE.rtf" />
  </Fragment>
</Wix>
